ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3b88c;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #fdf1e8;
  }
  
  .active {
    background-color: #f3b88c;
  }