body{
    background-color: #ccccff;
    margin: 0%;
    padding: 0%;
}

.user{
    font-family: 'Source Code Pro', monospace;
    font-size: medium;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 520px;
    background: white;
    border-radius: 25px;
    text-align: center;
}

input {
    height: 25px;
    width: 250px;

}

.Sbtn {
    background-color:#b3b3ff;
    color: black;
    height: 30px;
    width: 100px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

form label{
    display: flex;
    font-size: 18px;
    margin-left: 70px;
}